<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_Header")
    @Styles.Render("~/Assets/css/styles")
      
    @RenderSection("HeaderScripts", false)
  </head>
<body ng-controller="AppCtrl" class="container">
@RenderBody()

@Scripts.Render("~/Assets/js/bundle")
@RenderSection("Scripts", false)
</body>
</html>